.container {
    /* border: 2px solid white; */
    width: 50vw;
    height: 100vh;
}

.sessionGroup {
    max-height: 50%;
    overflow: scroll;
}

.buttonGroup {
    display: flex;
    justify-content: center;
}

.profileImg {
    height: 100px;
    border: 2px solid white;
}
