.search-heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}
.searchForm {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2px;
	margin: 10px 0;
}
