.modal {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 50%;
  min-height: fit-content;
  /* max-height: fit-content; */
  background: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}
.modal label {
  color: white;
}

.modal input {
  margin: 0 auto;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}

.form-buttons {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  
  width: 250px;
  margin: 0 auto;
}
.form-buttons button {
  background: rgba(40, 154, 247, 0.788);
  border-radius: 10px;
  color: rgb(168, 55, 55);
  font-weight: bold;
  width: 100px;
  border: none;
  height: 30px;
}


/* .modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
} */


.display-block {
  display: block;
}

.display-none {
  display: none;
}