.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.836);
}

.nav-user-group {
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  background: black;
  border-radius: 3px;
  padding: 2px;
  /* margin: 10px; */
}
/* .nav-link:hover{
  color: black;
  background:rgb(2, 161, 253);
} */

.nav-welcome {
  color: rgb(95, 95, 95);
}

.navHeader{
  display: flex;
}
.navHeader span{
  font-size: 14px;
}
.NavBar h1 {
  color: rgb(2, 161, 253);
}

#logOut {
  position: absolute;
  right: 0;
}

#heading{
  font-weight: 700;
}