.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 0 0 20px; */
  width: 100vw;
  height: 100%;
  background: lightgrey;
}

.nav-user-group {
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  background: black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.nav-link:hover{
  color: black;
  background: white;
}

.nav-welcome {
  color: grey;
  float: right;
}