.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
}

.form-button-group {
  margin: 10px;
}