.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto 30px;
  overflow: hidden;
}

.main {
  background: lightcoral;
  grid-area: main;
}

.header {
  
  grid-area: header;
  background: rebeccapurple;
}

footer {
  grid-area: footer;
  background: lightblue;
}